Sources/
db/
incremental_db/
output_files/
work/
**.bak
**.mti
**.mpf
**.qsf
**.qws
**.wlf
wlft1qdm92
wlft1xwb63
wlft5k3zw3
wlft6k33vw
wlft8wn3ae
wlft9h7nwj
wlftcb43vy
wlftd0wvi6
wlftmrz799
wlftrxaix5
wlftwivmd8
